body {
  margin: 0;
  background-color: #f2f2f2;
  font-family: 'Montserrat';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* color: '--color-sonic_silver': '#6e6f72';
  '--color-gray_web': '#85868a';
  '--color-tangerine': '#f58300';
  '--color-green_turquoise': '#00b16a';
  '--color-fire_opal': '#f35843';
  '--color-main_ceruleanblue': '#0951e0';
  '--color-base_eerieblack': '#141414'; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

